
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #dddcdc;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

a:hover {
  color: #e9e9e9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(72, 74, 104);
  font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 65vh;
  background: url("../img/earth2.jpg") top center;
  background-size: cover;
  position: relative;
}


#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}

#hero h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}
#hero h1 span {
  color: #ffffff;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #3d32a5;
  border: 2px solid #3d32a5;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #bgimg-1 {
    height: 100vh;
  }
  #hero h3 {
    font-size: 22px;
  }

  #hero h1 {
    color: #fff;
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    color: #eee;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 100vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #fdeff2;
  color: #3d32a5;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #3d32a5;
}

.section-title p {
  margin: 0 auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

.title-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0vh;
  margin-top: 90px;
}

.subject-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0vh;
  margin-top: 60px;
}

.button-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0vh;
  margin-top: 60px;
}

.button-container button {
  box-shadow: 2px 2px 5px 0px #00154e;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #dfdfdf;
  border-color: rgb(0, 21, 80, 0.5);
  height: 5vh;
  width: 10vw;
}