body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.8;
  background-color:rgb(216, 216, 216);
}
@media only screen and (max-width: 800px) {
  body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  #elipsis {
    visibility: visible;
  }
}

@media only screen and (max-width: 800px) {
  #logo {
    width: 5px;
    margin-top: 25px;
    position: absolute;
    right :0;
  }
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/img/main.jpg");
  height: 100vh;
}
.w3-bar .w3-button {
  padding: 16px;
  
}
#elipsis {
  visibility: hidden;
}
#logo {
  width: 200px;
  margin-top: 25px;
  position: absolute;
  right :0;
}