body,h1,h2,h3,h4,h5,h6 {font-family: "perpetua", sans-serif}
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.8;
  background-color:rgb(216, 216, 216);
}

#header {
  
  margin-top: 40vh;
  position: relative;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: left;
}


#home {
background: url(/assets/img/main.jpg);
background-attachment: fixed;
background-position: center top;
background-repeat: no-repeat;
background-size: auto;
}

#title1 {
  margin-bottom: 8px;
  font-size: 150px;
}

#title2 {
  margin-bottom: 32px;
  font-size: 50px;
}

#title3 {
  margin-bottom: 32px;
  font-size: 25px;
}
#logo {
  max-width: 500px;
  margin-top: 5px;
}


@media screen and (max-width: 768px) {
  #logo {
    max-width: 100px;
    margin-top: 5px;
  }
  #title1 {
    margin-bottom: 8px;
    font-size: 80px;
  }
  
  #title2 {
    margin-bottom: 8px;
    font-size: 30px;
  }
  
  #title3 {
    margin-bottom: 16px;
    font-size: 20px;
  }
  #home {
    background: url(/assets/img/R.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
}
